.ticker {
    color: #a5b6b2;
    background-color: #d1f1da;
    border: none;
    height: 45px;
    width: 200px;
    margin-bottom: 3px;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}